<% content_for :title, "New message board" %>

<h1>New message board</h1>

<%= render "form", message_board: @message_board %>

<br>

<div>
  <%= link_to "Back to message boards", message_boards_path %>
</div>
