<div id="<%= dom_id message %>" class="card bg-base-100 shadow-xl overflow-hidden w-full">
  <% if message.image.attached? %>
    <figure>
      <%= image_tag message.image, class: "w-full object-cover max-h-64" %>
    </figure>
  <% end %>
  <div class="card-body">
    <div class="prose max-w-none">
      <%= message.body %>
    </div>
  </div>
</div>
