<% content_for :title, "Editing message" %>

<h1>Editing message</h1>

<%= render "form", message: @message %>

<br>

<div>
  <%= link_to "Show this message", [@message.message_board, @message] %> |
  <%= link_to "Back to messages", message_boards_path %>
</div>
